@charset "UTF-8";

* {
    font-family: "Neucha", cursive;
    scroll-behavior: smooth;
}

.center{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.card{
    cursor: pointer;
    width: 440px;
    height: 480px;
}

.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #f1f1f1;
}

.back-content{
    width: 100%;
    text-align: center;
    color: #333333;
}

h2{
    margin-bottom: 20px;
}

span{
    display: block;
    font-size: 20px;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

.pp2{
    margin-left: 35%;
}



.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.video-bg__contents {
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
}

section:nth-child(even) {
    background-color: #3E9F32;
}

section:nth-child(odd) {
    background: #F17BF8;
}

nav {
    z-index: 50;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    background: #8F509D;
}

nav a {
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
}

nav a:hover,
section#n1:hover~nav a[href="#n1"],
section#n2:hover~nav a[href="#n2"],
section#n3:hover~nav a[href="#n3"],
section#n4:hover~nav a[href="#n4"],
section#n5:hover~nav a[href="#n5"] {
    background: #accfca;
    color: #8290d0;
}

::-webkit-scrollbar {
    display: none;
}